@import (inline) '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: "BlinkMacSystemFont", "Helvetica Neue", "Hiragino Kaku Gothic Pro", sans-serif;
  font-size: 14px;
  width: 450px;
  height: 230px;
}

header {
  display: flex;
  padding: 5px 0 0 5px;
}

.filter {
  font-size: 15px;
  padding: .25rem .75rem;
  width: ~"calc(100% - 50px)";
}

.dropdown {
  cursor: pointer;
  margin-top: 8px;
  margin-left: 9px;
  i.fa:before {
    font-size: 22px;
  }
}

.dropdown-menu.show {
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.1);
}

.tab-list {
  margin-top: 5px;
  padding: 0 0 5px 0;
}

.tab-entry {
  border-radius: 3px;
  height: 30px;
  padding: 5px 0 5px 10px;
  &:hover {
    background-color: #ECECEC;
    .controls {
      display: inline-block;
    }
    .title {
      width: ~"calc(100% - 105px)";
    }
    .last-opened {
      display: none;
    }
  }
  .title-text {
    flex-grow: 1;
  }
  .last-opened {
    font-style: italic;
    color: #555;
  }
  &:focus {
    background-color: #DDD;
  }
  > * {
    float: left;
  }
  .favicon {
    width: 30px;
  }
  .controls {
    display: none;
    margin: 1px 5px -1px;
    i {
      cursor: pointer;
      width: 21px;
      text-align: center;
      line-height: 19px;
    }
  }
  .title {
    cursor: default;
    display: flex;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden !important;
    width: ~"calc(100% - 40px)";
  }
}

.favicon img {
  height: 20px;
  width: 20px;
  margin-top: 1px;
}

.btn-outline-danger:hover {
  border-radius: 3px;
}